@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.card:hover {
  animation: grow 0.5s ease-in-out;
}
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.header{
  font-family: 'Monoton', sans-serif;
  color: lightseagreen;
}
.search-box{
  background-color: lightskyblue;
}